@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:inherit;font-family:inherit;vertical-align:baseline;}
body{overflow-x:hidden;}
img{vertical-align:middle;}
#mmtail{border-top:1px solid #b8b8b8;background:#cfcfcf;clear:both;position:relative;font-family:arial,helvetica,sans-serif;font-size:small;padding:5px 4px;text-align:left;}
#mmtail a:link, #mmtail a:active, #mmtail a:visited{color:#434343;}
#full_site{position:absolute;right:4px;}
/* Deprecated */
#mmheader ul li{display:inline;margin-right:5px;}
#mmtail p{margin:0;padding:0;display:inline;}